<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <%- include("./links/css.ejs") %>
        <%- include("./nav.ejs") %>
</head>

<body>
    <div class="container">
        <%- include("./links/signupform.ejs") %>

            <%- include("./links/js.ejs") %>
    </div>
</body>

</html>